# Section 1: Manually Creating Data Frames

Import pandas

Create a dataframe from lists

Create a dataframe from a dictionary

# Section 2: Loading existing data frames

Load "PivotThis.csv" into a dataframe.  Drop uneeded columns and rows

Create a pivot table with indicies of name and columns of "type", then save it to "PivotThisSaved.csv"

Load the "birth_data_table" table from richardknoche@localhost/crunchbase_db into a dataframe

Save the dataframe to a "test_table" table

# EDITING A DATAFRAME

In [ ]:
df = pd.DataFrame({'a': [1,2,7,None,4,5],
                   'b': [2,3,8,None,2,11],
                   'c': [3,4,9,None,3,12]},index=[0,1,2,3,4,5])

df

Drop row 1 of the table above

Drop column 'a' of the table above, without overriding the original

Set the index of the dataframe to 'a', then reset it to numbers 0-4

Sort the dataframe by column c descending, then by column a ascending

Sort the dataframe by index

Without overwriting, fill all NaN entries with 0

Without overwritng, drop all NaN entries

Without overwritng, drop all entries where column a is a duplicate

Rename columns to "A", "B", and "C"

# GETTING DATAFRAME INFORMATION

Get the type of data stored in each column

See the first 4 elements of the data frame, then the last 3

Print the shape of the dataframe

Print the columns, then the indicies of the dataframe

Count the number of times each value of column "A" appears

# INDEXING A DATAFRAME

In [ ]:
df.sort_values('C',inplace=True)
df

Select the everything between index label 4 and label 5 (inclusive)

Select the 2nd-4th index labels (inclusive), and columns A and C only

Select columns A-C, and index labels 4 through 5 (with .ix)

Select all entries where A<4 and C is not greater than 6

Randomly sample 3 rows of the dataframe

Randomly sample half of the dataframe, specify a specifc random seed

Drop all NaN values using indexing

Drop all Nan Values without indexing

Select only NaN values using indexing

# AGGREGATE INFORMATION FROM DATAFRAME

Calculate the cumulative sum of column A

Group the dataframe according to values of A, and compute the sum of other columns within each group

# APPLYING FUNCTIONS TO ROWS OR COLUMNS OF A DATAFRAME

In [ ]:
#Example dataframe:
df = pd.DataFrame({'A': [1, 2, 3, 4],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': [3, 4, 5, 6]},
                    index=[0, 1, 2, 3])

df

Using a function, return the sum of index 0 and index 2 for each column, multiplied by some factor specified by an argument

Using a function, return the sum of column A and column C for each row, multiplied by some factor specified by an argument

Write the above function as a lambda function

Write a function that replaces every element of the dataframe with the max of the dataframe

# Element-wise operations on dataframes

In [ ]:
import numpy as np
df1=pd.DataFrame(np.random.randn(10, 5),columns=['a', 'b', 'c', 'd', 'e'])
df2=pd.DataFrame(np.random.randn(11, 6),columns=['a', 'b', 'c', 'd', 'e','f'])

Multiply the two dataframes above, replacing missing values with zero

# Concatinating Dataframe

In [ ]:
df1=pd.DataFrame({'A':[1,2,3],'B':[1,2,3]})
df2=pd.DataFrame({'A':[4,5,6],'B':[4,5,6]})

Add the rows of df2 below the rows of df1

In [ ]:
#If the dataframes have the some number of rows, we concatinate the columns
df1=pd.DataFrame({'A':[1,2,3],'B':[1,2,3]})
df2=pd.DataFrame({'C':[4,5,6],'D':[4,5,6]})

Add the columns of df1 to the columns of df2

# Joining dataframes

Explain the four common types of joins

In [ ]:
left = pd.DataFrame({'group': ['a', 'a', 'a', 'b','b', 'b'],
                 'ounces': [1, 2, 3, 4, 5, 6]})

left

In [ ]:
right = pd.DataFrame({'label': ['b','c'],
                     'value': ['beta','charlie']})
right

Join left and right together, using a full outer join

Rename the columns so that they have a shared name, the perform an inner join

# Plotting

In [ ]:
%matplotlib inline

df = pd.DataFrame({'A': [1, 2, 3, 4],
                    'B': [3, 4, 5, 6]},
                    index=[0, 1, 2, 3])

df

Plot a scatter plot of columns A and B