Write the command to show all the databases

Write the command to select a database

Write the command to show all tables in a database

Write the command to list the columns and information about each table

Write a query that selects data where "column1" is greater than 10, "column2" does not equal "pizza", and "column3" is not null.

Write a query that selects data where 5 < column1 < 10

Write a query that selects all entries from column1 that contain "pizza","burgers", or "fries"

Write a query that selects any entry from column1 that ends with "ily" plus one additional character at the end.  Sort the query by column1.

Write a query that returns all columns if column1 equals column2 + "ily"

Write a query that returns 1 if column1 is greater than 5, and 0 if it is less than five.  Limit the return to 10 entries.

Write a query that uses an inner select, and references data from the outer table within the inner select.

Write a query that uses an inner select.  Require that the condition be applied to all of the resulting inner select table.

Write a query that select the sum of column1 and the average of column2

Write a query that groups by column1, and calculates the max of the columns for each group.  Do not include any rows where column2 is greater than 10 when calculating the max of each column. Do not return any groups that have a max less than 5.

Describe the four types of joins

Write a query that performs and inner join on table1 and table2.  Provide aliases for both tables, and join on table1's column1 and table2's column3.

Write a query that performs a self join on table1, joining on column1.  Group the results by column2, then column3, and eliminate duplicates from the return.

Write a query that creates a table named "food_table", with a column of <1000 characters named "food_type" and a column of doubles named "count".  Set food_type as the primary key.

Enter a new row into the "food_table", specifying hotdogs as a count of 7

Overwrite the entry for hotdogs to set count as 8

Delete all rows in "food_table" where count is <3

Delete the "food_table" table

Import pymysql, set up a connection to a the "indeed_database" at localhost, using raknoche and localpswd as the credentials.  Use the connection to send the query "Select * from JobListings WHERE JobSearched = 'data+scientist' LIMIT 10;" to the database, and print all of the results.  Pass the 'data+scientst' string as a variable.